/* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }
    
    /* Set height of the grid so .sidenav can be 100% (adjust as needed) */
    .row.content {height: 450px}
    
    /* Set gray background color and 100% height */
    .sidenav {
      padding-top: 20px;
      background-color: #f1f1f1;
      height: 150%;
    }
    
    /* Set black background color, white text and some padding */
    footer {
      background-color: #fff;
      /*color: white;*/
      padding: 15px;
    }
    
    /* On small screens, set height to 'auto' for sidenav and grid */
    @media screen and (max-width: 767px) {
      .sidenav {
        height: auto;
        padding: 15px;
      }
      .row.content {height:auto;}
    }
    .sizeimage {
      width: 100%;
      min-height: 225px;
      max-height: 480px;
    }
    .carotextborder {
    font-family: helvetica;
    font-size: 10px;
    left: 10%;
    position: absolute;
    width: 25%;
    padding: 50 20px;
    color: #000;
    background-color: #fff;
    background-color: rgba(255,255,255, 0.5);
    border-radius: 4px;
    }